.upvote,
.downvote {
  display: block;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #878a8c;

  &:hover {
    color: #cc3700;
    cursor: pointer;
  }
}

.active {
  color: #cc3700;
}

.vote {
  padding-top: 10px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.score {
  font-size: 14px;
}
